@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(16, 16, 34);
	background: radial-gradient(circle, rgba(16, 16, 34, 1) 58%, rgba(26, 26, 53, 1) 92%);
	color: #f5fbef;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button,
a {
	cursor: pointer;
}

.evenSection {
	background: rgb(33, 36, 49);
	background: radial-gradient(circle, rgba(33, 36, 49, 1) 55%, rgba(61, 60, 72, 1) 92%);
}

.projectsList:nth-of-type(even) {
	background: rgb(33, 36, 49);
	background: radial-gradient(circle, rgba(33, 36, 49, 1) 55%, rgba(61, 60, 72, 1) 92%);
}

.projectsList:nth-of-type(even) .leftGradient,
.projectsList:nth-of-type(even) .rightGradient {
	display: none;
}

.projectsList:nth-of-type(even) .projectPhoto {
	order: 10;
}

.projectsList:first-child .rightGradient {
	display: none;
}

.leftGradient {
	background: rgba(61, 60, 72, 1);
	background: linear-gradient(to left, rgba(51, 50, 64, 1) 15%, rgba(61, 60, 72, 1) 70%);
}

.rightGradient {
	background: rgb(33, 36, 49);
	background: linear-gradient(to right, rgba(51, 50, 64, 1) 15%, rgba(61, 60, 72, 1) 70%);
}

.projectsList ul li img {
	width: 50px;
	margin-bottom: 0;
}

.projectsList ul li span,
.singleStack ul li span {
	background-color: transparent;
}

@media (min-width: 1280px) {
	.projectsList:nth-of-type(even) .projectPhoto {
		order: -1;
	}
}

@media (min-width: 1300px) {
	.leftGradient {
		background: linear-gradient(to left, rgba(47, 46, 58, 1) 15%, rgba(61, 60, 72, 1) 70%);
	}

	.rightGradient {
		background: linear-gradient(to right, rgba(47, 46, 58, 1) 23%, rgba(61, 60, 72, 1) 70%);
	}
}

@media (min-width: 1600px) {
	.leftGradient {
		background: linear-gradient(to left, rgba(33, 36, 49, 1) 22%, rgba(61, 60, 72, 1) 80%);
	}

	.rightGradient {
		background: linear-gradient(to right, rgba(33, 36, 49, 1) 22%, rgba(61, 60, 72, 1) 80%);
	}
}
