@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #f5fbef;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button,
a {
	cursor: pointer;
}

ul :first-child.projectsList section {
	margin-top: 2em;
}

.evenSection,
.projectsList:nth-of-type(even) {
	background: rgb(44, 44, 45);
	background: linear-gradient(250deg, rgb(42, 44, 46) 40%, rgb(22, 22, 26) 61%);
}

.oddSection,
.projectsList:nth-of-type(odd) {
	background: rgb(14, 14, 18);
	background: linear-gradient(120deg, rgb(16, 16, 20) 44%, rgb(33, 34, 37) 55%);
}

.projectsList:nth-of-type(even) .leftGradient,
.projectsList:nth-of-type(even) .rightGradient {
	display: none;
}

.projectsList:nth-of-type(even) .projectPhoto {
	order: 10;
}

.projectsList:first-child .rightGradient {
	display: none;
}

.leftGradient {
	background: rgb(22, 22, 26);
}

.rightGradient {
	background: rgb(42, 44, 46);
}

.projectsList ul li span,
.singleStack ul li span {
	background-color: transparent;
}

.notFound {
	height: calc(100vh - 110px);
}

h3 {
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1rem;
}

@media (min-width: 1280px) {
	.projectsList:nth-of-type(even) .projectPhoto {
		order: -1;
	}
}
